.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 10px;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #666;
  border-radius: 4px;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #666;
  border-radius: 4px;
}
.slider::-moz-range-track {
  height: 6px;
  background: #666;
  border-radius: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.ticks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}
.tick {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: white;
}
.tickLine {
  width: 2px;
  height: 8px;
  background-color: white;
}

@media (max-width: 600px) {
  .tick {
    font-size: 12px;
  }
}
